<h1>Edit your account!</h1>

<%= form_tag '/users/<% @user.id %>' do %>
  <%= text_field_tag :email %>
  <%= password_field_tag :password %>
  <%= password_field_tag :password_confirmation %>
  <%= text_field_tag :img_url %>
  <%= text_field_tag :bio %>
  <%= submit_tag %>
<% end %>
